// 主要颜色配置
$main-color: #01ac8a; // 主色 按钮及文字
$bg-color: #f5f5f5; // 大背景色 输入框背景色 元素节点间距背景色
$active-color: #0c64eb; // 点击 选中
$hover-color: rgba(41, 140, 248, 0.1); // 悬浮背景色
$warning-color: #f5bb4a; // 预警
$error-color: #ff5d5d; // 错误、报警
$border-color: #e7e9ed; // 边框、分割线
$disable-color: #e7e8e9; // 禁用、不可点击
